@import url("../../colors.css");

.ticket-container-reserve {
    border: 3px solid var(--color-soft-dark);
    width: 500px;
    height: 140px;
    border-radius: 10px;
    padding: 18px;
    position: absolute;
    left: 60%;
    margin-top: 64px;
    background-color: var(--color-light);
    font-size: 18px;
}

.ticket-reserve {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-reserve-text-title {
    color: var(--color-soft-dark);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}

.ticket-reserve-text-input {
    color: var(--color-dark);
    text-align: left;
    font-size: 18px;
    font-weight: 550;
    display: flex;
    flex-direction: column;
}

.ticket-reserve-text-input span {
    margin-bottom: 10px;
}

.ticket-reserve-text-input span:last-child{
    margin-bottom: 0;
}

.ticket-reserve-text-input input{
    width: 240px;
    padding: 4px 6px;
    border-radius: 2px;
    border: 1px solid var(--color-soft-dark);
}

#btn-ticket-reserve {
    width: 100%;
    padding: 18px;
    border-radius: 6px;
    font-size: 18px;
    background-color: var(--color-soft-dark);
    color: var(--color-light);
    border: none;
    cursor: pointer;
    transition: 0.2s;
    letter-spacing: 1px;
}

#btn-ticket-reserve:hover {
    /* background-color: #3a3b80; */
    background-color: var(--color-blue);
}

.animeRight {
    opacity: 0;
    transform: translateX(200px);
    animation: animeRight 0.3s forwards;
}

@keyframes animeRight {
    to {
        opacity: 1;
        transform: initial;
    }
}