:root {
    --color-dark: #121212;
    --color-soft-dark: #1d1d1d;
    --color-gray: #c2c2c2;
    --color-light: #ffffff; 
    --color-blue: #0367A6;
    --color-geen: #4F7302;
    --color-yellow: #F2B705;
    --color-orange: #F27405;
    --color-red: #A6290D;
}