@import url("../../colors.css");

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    width: 370px;
}

.nav a {
    text-decoration: none;
    padding: 12px 4px;
    color: var(--color-gray);
    font-size: 18px;
    transition: all ease 0.3s;
    border: 1px var(--color-dark) solid;
    cursor: pointer;
}

.nav a:hover {
    border: 1px var(--color-light) solid;
    color: var(--color-light);
}