@import url("../../colors.css");

.ticket-send {
    border: 3px solid var(--color-soft-dark);
    width: 500px;
    border-radius: 10px;
    padding: 18px;
    position: absolute;
    left: 60%;
    margin-top: 251px;
    background-color: var(--color-light);
    font-size: 18px;
}

.ticket-send .ticket-send-up {
    color: var(--color-soft-dark);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
}

.ticket-send .ticket-send-bottom {
    color: var(--color-dark);
    text-align: left;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

#btn-ticket-send {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    background-color: var(--color-soft-dark);
    color: var(--color-light);
    border: none;
    cursor: pointer;
    transition: 0.2s;
    letter-spacing: 1px;
}

#btn-ticket-send:hover {
    background-color: #3a3b80;
    background-color: var(--color-blue);
}

.animeRight {
    opacity: 0;
    transform: translateX(200px);
    animation: animeRight 0.3s forwards;
}

@keyframes animeRight {
    to {
        opacity: 1;
        transform: initial;
    }
}